[project]
	description = Test program
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/HackerRam
[access "refs/for/refs/*"]
	read = group user/HackerRam
	push = group user/HackerRam
	label-Code-Review = -2..+2 group user/HackerRam
	label-Verified = -1..+1 group user/HackerRam
	rebase = group user/HackerRam
	removeReviewer = group user/HackerRam
	submit = group user/HackerRam
[access "refs/heads/*"]
	read = group user/HackerRam
	create = group user/HackerRam
	push = +force group user/HackerRam
	pushMerge = group user/HackerRam
[access "refs/tags/*"]
	push = +force group user/HackerRam
	pushTag = group user/HackerRam
	pushSignedTag = group user/HackerRam
